{% extends 'layout.html.twig' %}

    {% block head %}
		<title>404 Not Found</title>
	{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<h1 style="color: red">404 Not Found</h1>
{% endblock %}
